*.[Cc]ache
*.csproj.user
*.[Rr]e[Ss]harper*
*.sln.cache
*.suo
*.opensdf
*.user
*.orig
*.sdf
*.ldf
*.mdf
*.pidb
*.userprefs
.DS_Store
deploy/
build/
packages/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
_[Rr]e[Ss]harper.*/
*.docstates
*.tss
*.ncrunchproject
*.ncrunchsolution
*.dotCover
/Packtick/App_Readme/Elmah.txt
/Packtick/*.DotSettings
